{% extends 'base.html' %}

{% block title %}Домашняя{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Электронная газета</h1>
  <p class="lead">
    <a class="btn btn-primary btn-lg" 
    href="{% url 'article_list' %}" role="button">Все статьи</a>
{% if user.is_authenticated %}
  Привет, {{ user.username }}!
  <p><a href="{% url 'logout' %}">Выйти</a></p>
{% else %}
  <p>Вы не авторизированы</p>
  <p><a href="{% url 'login' %}">Войти</a></p>
  <p><a href="{% url 'signup' %}">Зарегистрироваться</a></p>
{% endif %}
{% endblock %}